<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Sản phẩm</h3>
</div>
<div class="modal-body">
    <div id="info">
        <h4>Thông tin</h4>

        <form class="form-horizontal" role="form" name="infoForm" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Tên:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Tên sản phẩm"
                           ng-model="product.name" required>
                </div>
                <div ng-show="infoForm.name.$dirty && infoForm.name.$invalid">
                    <label class="control-label text-danger" ng-show="infoForm.name.$error.required">Chưa điền</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="price">Giá:</label>

                <div class="col-sm-6">
                    <input type="number" class="form-control" name="price" id="price" placeholder="Giá sản phẩm"
                           ng-model="product.price" required>
                </div>
                <div ng-show="infoForm.price.$dirty && infoForm.price.$invalid">
                    <label class="control-label text-danger" ng-show="infoForm.price.$error.required">
                        Chưa điền
                    </label>
                    <label class="control-label text-danger" ng-show="infoForm.price.$error.number">
                        Sai định dạng
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="sale_off">Giảm giá:</label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" name="sale_off" id="sale_off" placeholder="Giảm giá"
                           ng-model="product.sale_off" required>
                </div>
                <label class="control-label col-sm-1" for="discount">-(%):</label>

                <div class="col-sm-2">
                    <input type="number" class="form-control" name="discount" id="discount" placeholder="Giảm giá"
                           ng-model="product.discount" required>
                </div>
                <div>
                    <div ng-show="infoForm.sale_off.$dirty && infoForm.sale_off.$invalid">
                        <label class="control-label text-danger" ng-show="infoForm.sale_off.$error.required">
                            Chưa điền
                        </label>
                        <label class="control-label text-danger" ng-show="infoForm.sale_off.$error.number">
                            Sai định dạng
                        </label>
                    </div>
                    <div ng-show="infoForm.discount.$dirty && infoForm.discount.$invalid">
                        <label class="control-label text-danger" ng-show="infoForm.discount.$error.required">Chưa
                            điền</label>
                        <label class="control-label text-danger" ng-show="infoForm.discount.$error.number">Sai định
                            dạng</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="quantity">Số lượng:</label>

                <div class="col-sm-6">
                    <input type="number" class="form-control" name="quantity" id="quantity"
                           placeholder="Số lượng sản phẩm"
                           ng-model="product.quantity" required>
                </div>
                <div ng-show="infoForm.quantity.$dirty && infoForm.quantity.$invalid">
                    <label class="control-label text-danger" ng-show="infoForm.quantity.$error.required">Chưa
                        điền</label>
                    <label class="control-label text-danger" ng-show="infoForm.quantity.$error.number">Sai định
                        dạng</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="colors">Màu:</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="colors" id="colors" placeholder="Màu sản phẩm"
                           ng-model="product.colors">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Mô tả:</label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" id="description" placeholder="Mô tả sản phẩm"
                              ng-model="product.description"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div id="categories">
        <h4>Danh mục</h4>

        <form class="form-horizontal" role="form" name="categoryForm" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-2" for="category">Danh mục:</label>

                <div class="col-sm-6">
                    <select class="col-sm-6" ui-select2 name="category" id="category" ng-model="product.category_id"
                            data-placeholder="Pick a category"
                            ng-options="item.id as item.name for item in service.listCategories" required>
                    </select>
                </div>
                <div ng-show="infoForm.category.$dirty && infoForm.category.$invalid">
                    <label class="control-label text-danger" ng-show="infoForm.category.$error.required">
                        Chưa chọn
                    </label>
                </div>
            </div>
        </form>

    </div>

    <div id="images">
        <h4>Ảnh (tối đa 3 hình ảnh)</h4>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2"></label>

                <div class="col-sm-9">
                    <div class="col-sm-3 thumbnail" ng-repeat="image in product.images">
                        <button type="button" class="close btn-xs" mwl-confirm title="Xóa ảnh"
                                message="Bạn có chắc muốn xóa ảnh này?" confirm-text="Có" cancel-text="Không"
                                placement="left" button-type="danger" cancel-button-type="default"
                                on-confirm="deleteImage(image,$index)">&times;</button>
                        <input type="checkbox" ng-model="image.is_favicon" ng-true-value="1"
                               ng-false-value="0" ng-change="selectedFavicon($index)">
                        <img ng-src="{{image.src}}"
                             class="img-rounded img-responsive center-block" alt="Product image">

                    </div>
                </div>
            </div>
            <div class="form-group" ng-hide="product.images.length>=3">
                <label class="control-label col-sm-2"></label>

                <div class="col-sm-3">
                    <button class="btn btn-info" ng-click="showUploadView()">
                        Upload
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()"
            ng-disabled="!(infoForm.$valid&&categoryForm.$valid)">
        Lưu lại
    </button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Hủy bỏ</button>
</div>
