<style>
    .editable-input.editable-has-buttons {
        width: 100px;
    }
</style>

<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12">
        <h1 class="page-header">Sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Danh mục
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" data-toggle="tooltip" title="Thêm"
                       ng-click="showCreateCategory()">
                        <i class="fa fa-plus text-info"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="category in service.listCategories" class="checkbox">
                    <label>
                        <input type="checkbox" id="selectCate" ng-model="category.checked"
                               ng-change="selectCategory($index)">
                        <a class="text-primary" href="#" editable-text="category.name" for="selectCate" e-required
                           e-placeholder="Nhập tên"
                           onaftersave="editCategory(category)">
                            {{category.name}}
                        </a>
                    </label>

                    <div class="pull-right" ng-show="category.checked">
                        <a class="btn btn-default btn-xs" data-toggle="tooltip"
                           mwl-confirm title="Xóa danh mục" confirm-text="Có" cancel-text="Không"
                           message="Xóa danh mục sẽ xóa cả sản phẩm trong danh mục đó. Bạn có chắc muốn xóa ảnh này?"
                           placement="left" button-type="danger" cancel-button-type="default"
                           on-confirm="deleteCategory(category,$index)">
                            <i class="fa fa-times text-info"></i>
                        </a>
                    </div>
                </div>
                <div ng-show="addingNewCategory">
                    <label>
                        <input type="checkbox" id="newCate" ng-model="newCategory.checked">
                        <a class="text-primary" href="#" editable-text="newCategory.name" for="newCate" e-required
                           e-placeholder="Nhập tên" e-form="addNewCategory" oncancel="cancelCreateCategory()"
                           onaftersave="createCategory(newCategory)">
                            {{newCategory.name}}
                        </a>
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                Sản phẩm
                <div class="pull-right">
                    <input type="text" class="" ng-model="service.searchName" placeholder="Tìm kiếm tên"
                           ng-show="searching">
                    <button class="btn btn-xs btn-success btn-xs" data-toggle="tooltip" title="Tìm kiếm"
                            ng-click="enableSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-success btn-xs" data-toggle="tooltip" title="Thêm mới"
                            ng-click="createProduct()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 text-center"
                     ng-repeat="product in service.listProducts track by product.id">
                    <div class="thumbnail">
                        <img ng-src="{{chooseImage(product)}}" class="img-rounded img-responsive center-block"
                             alt="Product Image">

                        <div class="caption">
                            <div class="row">
                                <strong class="col-lg-6 col-md-6 text-left text-danger">
                                    {{formatPrice(product.price-product.sale_off-product.discount/100*product.price)}}đ
                                </strong>
                                <del class="col-lg-6 col-md-6 text-right text-danger">
                                    {{formatPrice(product.price)}}đ
                                </del>
                            </div>
                            <div class="row">
                                <a href="" ng-click="viewProduct(product,$index)">
                                    <h4 class="text-success" ng-bind="product.name"></h4>
                                </a>
                            </div>
                            <div class="row text-info">
                                <small>Số lượng: {{product.quantity}}</small>
                            </div>
                            <h5>
                                <a class="btn btn-info" data-toggle="tooltip" title="Sửa"
                                   ng-click="viewProduct(product,$index)">
                                    Sửa
                                </a>
                                <a class="btn btn-danger" data-toggle="tooltip" title="Xóa"
                                   mwl-confirm title="Xóa sản phẩm" message="Bạn có chắc muốn xóa sản phẩm này?"
                                   confirm-text="Có" cancel-text="Không"
                                   placement="top" button-type="danger" cancel-button-type="default"
                                   on-confirm="deleteProduct(product,$index)">
                                    Xóa
                                </a>
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="text-right">
                    <uib-pagination total-items="service.totalItems" ng-model="service.currentPage"
                                    items-per-page="service.limit" ng-change="pageChanged()" max-size="5"
                                    class="pagination-sm" boundary-link-numbers="true" rotate="false">
                    </uib-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
